.bgcolor{
    background: #DFDCDC;
}

.title{
    position: absolute;
    width: 181px;
    height: 38px;
    left: 108px;
    top: 15px;
    padding: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}

.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}