
/* dashboard 1st card */
.g-head{
    background: linear-gradient(90deg, rgba(12,34,13,1) 0%, rgba(8,102,33,1) 62%, rgba(39,163,89,1) 100%);
}

/* total online vehicle table*/
.g-table{
    background: linear-gradient(90deg, rgba(12,34,13,1) 0%, rgba(8,102,33,1) 62%, rgb(7, 27, 15) 100%);
}

/* dashboard 2nd card */
.r-head{
    background: linear-gradient(90deg, rgba(68,13,5,1) 0%, rgba(152,48,20,1) 67%, rgba(199,103,94,1) 100%);
}

/* total offline vehicle table */
.r-table{
    background: linear-gradient(90deg, rgba(68,13,5,1) 0%, rgba(152,48,20,1) 67%, rgb(68, 6, 2) 100%);
}

/* dashboard 3rd card */
.v-head{
    background: linear-gradient(90deg, rgba(6,3,13,1) 0%, rgba(50,31,97,1) 60%, rgba(100,78,139,1) 100%);
}

.v-table{
    background: linear-gradient(90deg, rgba(6,3,13,1) 0%, rgba(50,31,97,1) 60%, rgb(16, 5, 34) 100%);
}

/* dashboard 4th card */
.b-head{
    background: linear-gradient(90deg, rgba(15,14,27,1) 0%, rgba(13,47,131,1) 53%, rgba(120,141,182,1) 100%);
}

.b-table{
    background: linear-gradient(90deg, rgba(15,14,27,1) 0%, rgba(13,47,131,1) 53%, rgb(3, 9, 20) 100%);
}

/* dashboard font weight */
.f-weight{
    font-weight: 700;
}

/* card shadow */
.bx-shadow{
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
}

/* table shadow & margin top */
.tb-shadow{
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
}

/* button width */
.b-width{
    width: 60px;
}

/* sidebar font size */
.s-font{
    font-size: 20px;
}

/* sub-header font */
.s-header{
    font-family:  Lucida, sans-serif;
    font-weight: 700;
    color: #777676;
}

/* button margin top */
.b-mt{
    margin-top: -10px
}

/* font for modals */
.modal-font{
    /* font-family:  Lucida, sans-serif; */
    font-size: 35px;
    font-weight: 500px;
}

.disable{
    pointer-events: none;
}